body {
  max-width: 1280px;
  margin: auto;
  font-size: 1rem;
  padding: 0px 30px
}


a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

.amargin {
  margin-right: 5px;
}

.disqussion {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  line-height: 135%;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  z-index: 7;
}

.disqussion a {
  opacity: 0.6;
  display: block;
  overflow: hidden;
  height: 150%;
  color: black;
  text-decoration: none;
  cursor: pointer;
  background: #bbbbbb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.disqussion a.has-comments {
  opacity: 1;
}
.disqussion-contain:hover .disqussion a {
  opacity: 1;
}
/*
.disqussion a:after {
 
  content: "";

}
*/

.disqussion:hover a, .disqussion.hovered a {
  opacity: 1;
  background: #999999;
}
.disqussion:hover a:after, .disqussion.hovered a:after {
  border-top-color: #999999;
}

#disqussions_wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

#disqus_thread.positioned {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.disqussion-highlight #disqus_thread.positioned {
  background: #fff;
  z-index: 9;
}

#disqussions_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
  display: none;
}

.disqussion-highlighted {
  position: relative;
  background: #fff;
  z-index: 9;
}
